<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Itens</title>
    <link href="css/style.css" type="text/css" rel="stylesheet">
</head>
<body class="body-bg">
    <div class="navbar">
        <nav class="menu-navegacao">
            <ul>
                <li class="Titulo"">Restaurante Valorant</li>
                <li class="dropdown">
                    <a class="navbar-text" href="#">Menu</a>
                     <ul class="dropdown-content">
                        <li><a href="#">Teste</a></li>
                        <li><a href="#">Teste</a></li>
                        <li><a href="#">Teste</a></li>
                        <li><a href="#">Teste</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
    
</body>
</html>