<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/login.css">
    <title>Login</title>
</head>
<body>
    <div class="main-login">
        <div class="left-login">
            <h1> Faça Login <br> Restaurant Valorant </h1>
            <img src="img/12.png" class="left-image" alt="chef animação">
        </div>
        <div class="right-login">
            <div class="card-login">
                <h1>LOGIN</h1>
                <div class="textfield">
                    <label for="usuario">Usuário</label>
                    <input type="text" name="usuario" placeholder="Usuário">
                </div>
                <div class="textfield">
                    <label for="senha">Senha</label>
                    <input type="password" name="senha" placeholder="Senha">
                    <br>
                    <a class="anchor" href="#" onclick="forgotPassword()">Esqueceu sua senha?</a>
                </div>
                <button class="btn-login" id="loginButton">Login</button>
            </div>
        </div>
    </div>
    <script>
        function forgotPassword() {
            var userInput = prompt("Por favor, digite seu email:");
            if (userInput !== null && userInput !== "") {
                alert("Um email foi enviado para " + userInput);
            } else if (userInput !== null && userInput === "") {
                alert("Por favor, digite um email válido.");
                forgotPassword();
            } else {
                alert("Operação cancelada");
            }
        }
        document.getElementById("loginButton").addEventListener("click", function () {
            window.location.href = "menu.html";
        });
    </script>
</body>
</html>
