<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="\views\css\Funcionarios.css">
    <title>Funcionarios</title>
</head>
<body>
    <div class="navbar">
        <nav class="menu-navegacao">
            <ul>
                <li class="Titulo">Restaurante Valorant</li>
                <li class="dropdown">
                    <a class="navbar-text" href="menu.html">Menu</a>
                    <ul class="dropdown-content">
                        <li><a href="Gestao de pedidos/bebidas.html">Pedidos</a></li>
                        <li><a href="financeiro.html">Financeiro</a></li>
                        <li><a href="list-funcionarios.html">Cadastro de funcionario</li>
                        <li><a href="transaçoes.html">Registro de vendas</a></li>
                        <li><a href="CadastroItens.html">Cadastro de produtos</a></li>
                        <li><a href="ControleEstoque.html">Controle de estoque</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>

    <div class="img">
        <img src="\views\img\Viper_png.webp">
    </div>
    <div class="container">
        <div class="header">
            <span>Cadastro de Funcionários</span>
            <button onclick="openModal()" id="new">Incluir</i></button>
        </div>
    
        <div class="divTable">
            <table>
            <thead>
                <tr>
                <th>Nome</th>
                <th>Função</th>
                <th>Salário</th>
                <th class="acao">Editar</th>
                <th class="acao">Excluir</th>
                <th class="acao">+info</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
            </table>
        </div>
    
        <div class="modal-container">
            <div class="modal">
            <form>
                <label for="m-nome">Nome</label>
                <input id="m-nome" type="text" required />

                <label for="m-funcao">Função</label>
                <input id="m-funcao" type="text" required />

                <label for="m-salario">Salário</label>
                <input id="m-salario" type="number" required />

                <label for="m-cpf">CPF</label>
                <input id="m-cpf" type="text" required />

                <label for="m-carteira">Número da carteira de trabalho</label>
                <input id="m-carteira" type="text" required />

                <label for="m-telefone">Telefone</label>
                <input id="m-telefone" type="text" required />

                <label for="m-genero"  id="generoSelect">Gênero</label>
                <select class="form-select" id="genero" required>
                    <option value="Mulher">Mulher</option>
                    <option value="Homem">Homem</option>
                    <option value="Outro">Outro</option>
                </select>

                <button id="btnSalvar">Salvar</button>
            </form>
            </div>
        </div> 


    <div class="aa"  style="display: flex;">   
        <div class="info-modal" style="display: none;" >
            <div class="info-content">
                <span class="close-info-modal" onclick="closeInfoModal()">&times;</span>
                <div id="info-content">
                    <h2>Informações do Funcionário</h2>
                    <p><strong>Nome:</strong> <span id="info-nome"></span></p>
                    <hr><br>
                    <p><strong>Função:</strong> <span id="info-funcao"></span></p>
                    <hr><br>
                    <p><strong>Salário:</strong> R$ <span id="info-salario"></span></p>
                    <hr><br>
                    <p><strong>CPF:</strong> <span id="info-cpf"></span></p>
                    <hr><br>
                    <p><strong>Carteira de Trabalho:</strong> <span id="info-carteira"></span></p>
                    <hr><br>
                    <p><strong>Telefone:</strong> <span id="info-telefone"></span></p>
                    <hr><br>
                    <p><strong>Gênero:</strong> <span id="info-genero"></span></p>
                </div>
            </div>
        </div>
        </div>
        </div>
        
    <script type="text/javascript" src="\views\js\list-funci.js"></script>
</body>
</html>