<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

  <link rel="stylesheet" href="css/financas.css">
</head>
<body>
  <div class="navbar">
    <nav class="menu-navegacao">
        <ul>
            <li class="Titulo">Restaurante Valorant</li>
            <li class="dropdown">
                <a class="navbar-text" href="menu.html">Menu</a>
                <ul class="dropdown-content">
                   <li><a href="Gestão de pedidos/bebidas.html">Pedidos</a></li>
                   <li><a href="financeiro.html">Financeiro</a></li>
                   <li><a href="cadastro.html">Cadastro de funcionario</li>
                   <li><a href="transaçoes.html">Registro de vendas</a></li>
                   <li><a href="CadastroItens.html">Cadastro de produtos</a></li>
                   <li><a href="ControleEstoque.html">Controle de estoque</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</div>
  <main>
    <div class="resume">
      <div>
        Entradas: R$
        <span class="incomes">0.00</span>
      </div>
      <div>
        Saídas: R$
        <span class="expenses">0.00</span>
      </div>
      <div>
        Total: R$
        <span class="total">0.00</span>
      </div>
    </div>
    <!-- Inicio - incluir items -->
    <div class="newItem">
      <div class="divDesc">
        <label for="desc">Descrição</label>
        <input type="text" id="desc" />
      </div>
      <div class="divAmount">
        <label for="amount">Valor</label>
        <input type="number" id="amount" />
      </div>
      <div class="divType">
        <label for="type">Tipo</label>
        <select id="type">
          <option>Entrada</option>
          <option>Saída</option>
        </select>
      </div>
      <button id="btnNew">Incluir</button>
    </div>
    <!-- Fim - incluir items -->
    <div class="divTable">
      <table>
        <thead>
          <tr>
            <th>Descrição</th>
            <th class="columnAmount">Valor</th>
            <th class="columnType">Tipo</th>
            <th class="columnAction"></th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
  </main>  

  <script src="js/finacas.js"></script>
</body>
</html>