<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro Financeiro</title>
    <link rel="stylesheet" href="css/estilo_reg.css">
</head>
<body>
    <div class="container">
        <div class="registration-form">
            <h1>Registro Financeiro</h1>
            
            <div class="input-group input-group-sm">
                <span class="input-group-text">Tipo de Transações</span>
                <input type="text" class="form-control">
            </div>
            
            <div class="input-group">
                <span class="input-group-text">Valor</span>
                <input type="text" class="form-control">
            </div>
            
            <div class="input-group input-group-lg">
                <span class="input-group-text">Observação</span>
                <input type="text" class="form-control">
            </div>
            
            <button class="btn btn-primary">Registrar</button>
        </div>
    </div>
</body>
</html>