@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;600&display=swap');

h1{
    color: #0d192b(69, 42, 165);
}
/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

h1 {
    text-align: center;
    margin-top: 20px;
    color: #333;
}

/* Estilos para a barra de navegação */
.navbar {
    background-color: #007bff;
}

.navbar-brand {
    color: #fff;
    font-weight: bold;
    font-size: 24px;
}

.nav-link {
    color: #fff;
}

/* Estilos para o botão "menu" */
.dropdown-toggle::after {
    content: none; /* Remove o ícone de seta padrão */
}

/* Estilos para os campos do formulário */
.form-label {
    font-weight: bold;
}

.form-control {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 15px;
    width: 100%;
}

/* Estilos para o botão "Executar Ação" */
button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/* Estilos para a imagem */
img {
    max-width: 50%;
    height: auto;
}

/* Estilos para a grade de 3x3 */
.row {
    margin-left: -15px;
    margin-right: -15px;
}

.col-md-6 {
    padding: 15px;
}

@media (max-width: 992px) {
    .col-md-6 {
        width: 50%;
    }
}

@media (max-width: 768px) {
    .col-md-6 {
        width: 100%;
    }
}
