@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;600&display=swap');

/* Estilos globais */
body {
    font-family: 'Raleway', Arial, sans-serif; 
    background-color: #0a8967;
    font-size: 25px; /* Tamanho de fonte global */
    
}

.container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto; /* Centralize a caixa no centro da tela */
    max-width: 2000px; /* Defina uma largura máxima para o conteúdo */
    padding: 20px;
    margin-top: 20px; /* Adicione espaço (margem superior) entre a barra de menu e o container */
    margin-bottom: 20px;
    min-height: 100vh;
}

/* Estilos para o menu de navegação */
.navbar {
    background-color: #081324;
    color: #fff;
}

.menu-navegacao ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-navegacao li {
    display: inline;
    margin-right: 20px;
}

/* Estilos para o dropdown */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 100px;
    z-index: 1;
}

.dropdown-content a {
    color: #fff;
    padding: 10px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}
.form-label {
    font-weight: bold;
    font-size: 20px; /* Tamanho da fonte para rótulos de formulário */
}

.form-control {
    margin-bottom: 15px;
    font-size: 25px; /* Tamanho da fonte para inputs de formulário */
}

/* Estilo para centralizar o formulário */
.cadastro-form {
    margin: 0 auto; /* Centraliza horizontalmente */
    max-width: 600px; /* Defina a largura máxima */
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centraliza verticalmente */
    min-height: 100vh; /* Garante que o formulário ocupe pelo menos a altura da tela */
}
/* Estilo padrão dos botões */
.btn-primary-cancelar,
.btn-primary-salvar {
    background-color: #0d192b; /* Cor de fundo padrão */
    color: #fff; 
    border: none; /* Remova a borda dos botões */
    border-radius: 5px; /* Adicione bordas arredondadas aos botões */
    padding: 10px 20px; /* Espaçamento interno dos botões */
    cursor: pointer; /* Mude o cursor para uma mão ao passar o cursor sobre os botões */
    transition: background-color 0.3s ease; /* Adicione uma transição suave */
}

/* Estilo dos botões quando o cursor passa por cima */
.btn-primary-cancelar:hover {
    background-color: #e74c3c; /* Cor de fundo ao passar o cursor */
}

.btn-primary-salvar:hover {
    background-color: #2ecc71; /* Cor de fundo ao passar o cursor */
}

/* Estilos para a imagem */
img {
    max-width: 80%;
    height: auto;
}

/* Estilos para a grade de 3x3 */
.row {
    margin-left: -10px;
    margin-right: -15px;
}

.col-md-6 {
    padding: 15px;
}

@media (max-width: 992px) {
    .col-md-6 {
        width: 50%;
    }
}

@media (max-width: 768px) {
    .col-md-6 {
        width: 100%;
    }
}
