.login {
    margin-top: 8%;
    background-color: #010b14;
    padding: 3%;
    border-radius: 8px;
    color: black; /* Define a cor do texto como preta */

.bg-login{
	background-color: #07f9a2;

}

.espaco{
	margin-top: 1%;
    text-align: center; 
}
.bg-color1 { background-color: #07f9a2; }

        .bg-color2 { background-color: #09c184; }

        .bg-color3 { background-color: #0a8967; }

        .bg-color4 { background-color: #0c5149; }

        .bg-color5 { background-color: #0d192b; }

/* Personalize o botão com as variáveis de cores */
.btn-bd-primary {
    font-weight: var(--bs-btn-font-weight);
    color: rgb(161, 132, 132); /* Cor das letras como branco */
    background-color: var(--bd-violet-bg);
    border-color: var(--bd-violet-bg);
}

.btn-bd-primary:hover {
    color: rgb(18, 16, 16); /* Cor das letras como branco ao passar o mouse */
    background-color: #1b5a50; /* Cor de fundo ao passar o mouse */
    border-color: #1b5a50; /* Cor da borda ao passar o mouse */
}

.btn-bd-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(56, 239, 218, 0.5); /* Sombra ao focar */
}

.btn-bd-primary:active {
    color: rgb(57, 26, 26); /* Cor das letras como branco ao clicar */
    background-color: #09332a; /* Cor de fundo ao clicar */
    border-color: #09332a; /* Cor da borda ao clicar */
}
