* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    outline: none;
  }

  #btnNew{
    background-color: #0d192b;
  }
  
  body {
    height: 100vh;
    display: flex;
    justify-content: center;
    margin-top: 5%;
    background-color: #09c184;
  }
  .navbar{
    width: 100%;  
    padding: 20px 0;
    background-color: #0d192b;
    height: 70px;
    position: fixed;
    top: 0; /* Fixar no topo da tela */
    left: 0; /* Fixar no lado esquerdo da tela */
    width: 100%; /* Largura total */
    color: white;
    z-index: 1000; 
}
  /* Estilizando o menu de navegação */
.menu-navegacao {
  padding: 3px;
  left: 0%;
}

.menu-navegacao ul {
  list-style-type: none;
  padding: 0;
}

.menu-navegacao ul li {
  display: inline-block;
  margin-left: 20px;
  margin-right: 10px;
  position: relative;
}

.navbar-text{
  text-align: right;
  padding: 20px;
  color:#a9ffe0;
  text-decoration: none;
}.dropdown-content {
  display: none;
  position: absolute;
  background-color:#0c5149;
  border-radius: 10px;
  min-width: 80px;
  z-index: 1;
  text-align: left;
}


.dropdown-content li {
  display: block;
}

.dropdown-content a {
  text-decoration: none;
  display: block;
  color: #f7fffc;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: start;
}

.dropdown-content a:hover {
  background-color: #081324;
  width: 100%;
  border-radius: 5px;
}

/* Mostrar o dropdown quando passar o mouse sobre o item do menu */
.menu-navegacao ul li:hover .dropdown-content {
  display: block;
}

  main {
    max-width: 550px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 25px;
  }
  
  .resume {
    display: flex;
    padding: 15px 0;
    gap: 40px;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .resume > div {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 5px ;
    border-radius: 10px;
    padding: 10px;
    width: 150px;
    font-size: 20px;
    background-color:#00C9A7;
  }
  
  .newItem {
    display: flex;
    gap: 10px;
    align-items: end;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 15px;
  }
  
  .divDesc, .divType, .divAmount {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
  
  }
  
  .newItem > button {
    background-color: #2C73D2;
    color: white;
    border: none;
    padding: 0 15px;
    border-radius: 5px;
    cursor: pointer;
    height: 34px;
  }
  
  input, select {
    padding: 5px;
    border-radius: 10px;
    border: none;
    font-size: 14px;
  }
  
  .divTable {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  table {
    width: 98%;
    padding: 20px 0;
    border-radius: 5px;
  }
  
  th {
    text-align: start;
    border-bottom: inset;
    padding-bottom: 5px;
  }
  
  i {
    font-size: 25px;
  }
  
  .bxs-chevron-up-circle {
    color: #00C9A7;
  }
  
  .bxs-chevron-down-circle {
    color: #D83121;
  }
  
  .columnAction {
    width: 40px;
    text-align: center;
  }
  
  .columnAction > button {
    background: transparent;
    border: none;
  }
  
  .columnAmount {
    width: 30%;
  }
  
  .columnType {
    width: 80px;
    text-align: center;
  }