@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,400;1,500;1,600&display=swap');
body{
    background: #09c184;
    font-family: 'Poppins';
    font-weight: 400;
}

#navbar{
    gap: 5vw;
}

.nav-link{
 color: #180d2b;
 font-weight: bold;
}

.nav-link:hover{
    color: #0a8967;
}

.left-image{
    width: 40vw;
}

.menulogo{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.titulologo{
    font-size: 8vw;
    color: #2f2841;
    font-weight: bold;
}

.navbar{
    width: 100%;  
    background-color: #0d192b;
    height: 70px;
    position: fixed;
    top: 0; /* Fixar no topo da tela */
    left: 0; /* Fixar no lado esquerdo da tela */
    width: 100%; /* Largura total */
    color: white;
    z-index: 1000; 
}

/* Estilizando o menu de navegação */
.menu-navegacao {
    padding: 3px;
    left: 0%;
}
.menu-navegacao ul {
    list-style-type: none;
    padding: 0;
}

.menu-navegacao ul li a{
    text-decoration: none;
    position: relative;
    text-align: right;
    margin-left: 92vw;
    margin-bottom: 30px;
    color: #07f9a2;
}
.menu-navegacao ul li a:hover{
    color: #ffff;
}
.menu-container{
    position: relative;
    margin-top: 100px;
}

.menu-button{
    border: none;
    border-radius: 15px;
    margin: 0;
    width: 10vw;
    height: 10vh;
    background-color: #180d2b;
    color: #07f9a2;
    cursor: pointer;
    transition: 100ms;
}

.menu-button:hover{
    background-color: #0a8967;
    transform: translateY(5px);
    /* width: 12vw;
    height: 12vh; */
}